//Fonts
$font-primary: 'PT Serif', sans-serif; 
$font-secondary: 'Source Serif Pro';

//Colors
$color-light: #fff;
$color-light-accent: #F4DBD8;
$color-dark: #4D4343; 
$color-accent: #BF9891; 
$color-complement: #484848; 
$color-complement-2: #FDD6BD;

$color-text: #4D4343; 
$color-icon: #BFA8A7;
