.header::before {
    content: "- ";
    position: absolute;
    background-color: black;
    opacity: 30%;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header-pricelist {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header {
    display: flex;
    justify-content: flex-start;
    background: url(img/photo-1529421052258-e208c07eea78.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 100%;

    &-inner, .header-inner-pricelist {
        display: flex;
        flex-direction: column;
        width: 95%;
        max-width: 1400px;
        height: 100%;
    }
}

.logo-nav, .logo-nav-pricelist {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 140px;
    height: 140px;
    margin: 46px 0 0 0;
    display: flex;
}

.text-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 150px;
}

.header-inner-pricelist .text-container {
    margin-bottom: 80px;
}

.text{
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.text p {
    text-align: center;
}


@media screen and (max-width: 767px) {

    
    .text h1 {
    font-size: 3.5rem;
    text-align: center;
    }

    .logo-nav-pricelist {
        justify-content: center;
    }

     .header-inner-pricelist .text-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    
}