.about-us, .contact-us, .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.about-us-inner, .contact-inner, .footer-inner {
    width: 95%;
    max-width: 1400px;
}

.about-us {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.about-us p {
    text-align: center;
    margin-bottom: 150px;
}

.services {
    display: flex;
    align-items: center;
}

.services-text, .lash-img {
    width: 50%;
    min-width: 50%;
    align-items: flex-end;
}

.text-inner, .lash-inner {
    width: 500px;
}

.services-img {
    width: 960px;
    height: 736px;
    overflow: hidden;
    justify-content: flex-end;
}

.services-text, .services-img, .contact-content {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1400px;
}

.lash-img {
    display: flex;
    width: 50%;
    height: 736px;
    overflow: hidden;
    justify-content: flex-end;
}

.lash-text {
    margin-left: 132px;
}

.what-they-say {
    background-color: $color-light-accent;
    display: flex;
    padding-top: 143px;
    padding-bottom: 143px;
    justify-content: center;
    align-items: center;
}

.what-img {
    width: 237px;
    display: flex;
}

.what-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    max-width: 700px;

    .name {
        margin: 0;
    }
}

.contact-us {
    background-color: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 691px;

    img {
        width: 100%;
    }


    .contact-inner {
        position: absolute;
        display: flex;
        width: 24%;
        background-color: white;
        flex-direction: column;
        box-shadow: 0 3px 38px;
        justify-content: center;
        align-items: center;
        margin-left: 200px;
    }

    .contact-content {
        align-items: center;
    }

    .contact-inner h3 {
        font-size: 48px;
        padding-top: 46px;
    }

    .contact-inner p {
        line-height: 34px;
        padding-bottom: 92px;
        margin-top: 38px;
        font-size: 18px;
        margin-bottom: 0;
    }
}

.instagram {
    background-color: $color-light-accent;

    .insta {
        padding-top: 86px;
        padding-bottom: 84px;
        text-align: center;
    }

    .elfsight-app-656c1f37-3f40-4b3a-b3d3-0d68e4b84972{
        padding-bottom: 165px;
    }
}

.bottom-logo {
    margin-top: -98px;
    display: flex;
    margin-left: 43%;
}


.pricelist {
    display: flex;
    justify-content: space-evenly;
}

.nails, .lashes {
    width: 30%;
}

.back {
    display: flex;
    padding-left: 230px;
    margin-top: 50px;
}

.back p {
    margin-left: 10px;
}

.back a {
    display: flex;
}


@media screen and (max-width: 767px) {

    .about-us p {
        text-align: left;
        margin-bottom: 0;
    }

    .text-inner h3 {
    text-align: center;
    }

    .services {
        flex-direction: column;
    }

    .services h3 {
        margin-top: 120px;
    }

    .text-inner, .lash-text {
        width: 100%;
    }

    .services-img, .lash-img {
        width: 100%;
        height: 400px;
    }

    .services-lash {
        flex-direction: column-reverse;
    }

    .lash-text {
        margin-left: 20px;
        margin-top: 20px;
    }

    .lash-img {
        justify-content: center;
        align-items: center;
    }

    .what-img {
        display: none;
    }

    .what-text {
        margin-left: 20px;
    }

    .contact-us {
        height: auto;
    }

    .contact-us img {
        display: none;
    }

    .contact-us .contact-inner {
        margin: 0;
        width: 100%;
        position: relative;
        box-shadow: none;
    }

    .instagram .insta {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .insta {
        font-size: 36px;
    }

    .instagram .elfsight-app-656c1f37-3f40-4b3a-b3d3-0d68e4b84972 {
        padding-bottom: 120px;
    }

    .bottom-logo {
        display: none;
    }

    .pricelist {
        flex-direction: column;
    }

    .nails, .lashes {
        width: 90%;
        margin-left: 15px;
    }

    .lashes h3 {
        margin-top: 20px;
    }

    .back {
        padding-left: 15px;
    }
    
}